body {

}
h1 {
    color: #ffffff;
    font-family: 'Lobster';
}
h1.head{
    background: #f5dd5d;
    padding: 20px;
    margin: 0;
}
div.post{
    border-bottom: 1px solid grey;
    padding: 20px;
}